.progress-bar-hollow {
    /* circumference = 2*pi*radius 
      c = 2 * 3.14 * 100;
      percentage calc => (percent) => c - (percent * c/100)
    */
    fill: none;
  }
  .addAnimate {
    animation: grow 1.5s 1s forwards ease-out;
  }
  @keyframes grow {
    to {
      stroke-dashoffset: var(--level, 200);
    }
  }
  .progress-bar {
    position: relative;
  }
  .progress-bar-percent {
    position: absolute;
    font-size: 3em;
    padding: 0;
    margin: 0;
    left: 50%;
    top: 50%;
    font-family: sans-serif;
    transform: translate(-50%, -50%);
  }